<div class="modal fade" id="resetPasswordModal" tabindex="-1" role="dialog" aria-labelledby="detailsModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="resetPasswordModalLabel">Your password reset</h5>
      </div>
      <div class="modal-body">
        <form id="form-newpassword" class="form-newpassword">
          <label for="inputNewPassword1" class="sr-only">Email address</label>
          <input type="password" name="email" id="inputNewPassword1" class="form-control" placeholder="New Password" required><br>
          <label for="inputNewPassword2" class="sr-only">Email address</label>
          <input type="password" name="email" id="inputNewPassword2" class="form-control" placeholder="Repeat New Password" required><br>        
          <button type="submit" class="newpassword-proceed btn btn-dark btn-block">Change Password</button>
        </form>          
      </div>
    </div>
  </div>
</div>